<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
                <label>Item name:
                    <input type="text" #itemName class="form-control" />
                </label>
                    <button class="btn btn-outline-info ml-2 btn-sm" (click)="search(itemName.value)">Search</button>
            </div>
        </div>
        <ul class="list-group">
            <li *ngFor="let item of searchItems" class="list-group-item list-group-item-success">
                <p>{{item.id}} - {{item.itemName}} - {{item.itemDescription}} - {{item.itemPrice}}</p>
            </li>
        </ul>
    </div>
    <div class="btn btn-success m-2" (click)="addItem('Component')">Add Component</div>
    <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle m-2"
                aria-controls="dropdown-basic">
                Button dropdown <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" (click)="changeRef('component1');" >Component 1</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="changeRef('component2');" >Component 2</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="changeRef('component3');" >Component 3</a></li>
        </ul>
      </div>
</div>
<div class="gridster-size mt-3">
<gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of dashboard; let i = index">
        <p>{{arr[i]}} with index {{i}}</p>
        <button class="btn btn-danger m-2" (mousedown)="removeItem(item, i)" (touchstart)="removeItem(item, i)">Destroy {{ i }}</button>
        <app-general [innerComponent]="item.inn" [response]="response" [counter]="i"></app-general>
        
    </gridster-item>
</gridster>
</div>