<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
    
    
</div>
<nav class="navbar navbar-expand navbar-light bg-light">
    <a href="" class="navbar-brand">MyCustomProject</a>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/users">Router link to users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">Router link to items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/pages">Route to pages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/date">Route to date picker</a>
        </li>
    </ul>
</nav>

<app-show-dynamic-form></app-show-dynamic-form>
<router-outlet></router-outlet>
